---
import { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Props {
  title: string;
  description: string;
  date: Date;
  slug: string;
  image?: ImageMetadata;
  tags?: string[];
}

const { title, description, date, slug, image, tags } = Astro.props;
---

<hr class="h-px bg-black border-0" />
<article
  class="w-full py-6 overflow-hidden group flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4"
>
  {
    image && (
      <Image
        class="w-full sm:w-2/5 object-cover filter grayscale group-hover:grayscale-0 duration-75"
        src={image}
        alt=""
      />
    )
  }
  <div class="flex-1">
    <div class="pb-6 flex space-x-6 justify-between sm:justify-start">
      <p class="w-1/2 uppercase">
        <a
          href=`/projects/${slug}/`
          class="underline decoration-neutral-300 underline-offset-4 hover:decoration-current"
          >{title}</a
        >
      </p>
      <p>
        <time datetime={date.toISOString()}>
          {
            date.toLocaleDateString("en-us", {
              year: "numeric",
              month: "long",
            })
          }
        </time>
      </p>
    </div>
    <div
      class="flex flex-wrap space-x-0 sm:space-x-6 justify-between sm:justify-start"
    >
      <p class="w-full sm:w-1/2 pb-6 sm:pb-0">{description}</p>
      <div class="flex-1">
        <ul class="flex justify-start flex-wrap">
          {
            tags &&
              tags.map((tag, idx) => (
                <li class="text-neutral-300 hover:text-black cursor-default mr-1">
                  {`#${tag.toLowerCase()}${idx === tags.length - 1 ? "" : ","}`}
                </li>
              ))
          }
        </ul>
      </div>
    </div>
  </div>
</article>
